# IDEs and Editors
.vscode/
.idea/
*.swp
*~
*.swo

# C / C++ / Vala
*.o
*.so
*.a
*.la
*.lo
*.gir
*.typelib

# Meson / Ninja Build Directories
build/
builddir/
meson-logs/
meson-private/
.ninja_deps
.ninja_log
compile_commands.json

# Node/NPM Bloat
node_modules/

# Cache and OS Files
.cache/
.DS_Store
Thumbs.db

# Output Binaries
ccnux

# Assets (If fetched dynamically)
assets/*.tar.gz
assets/*.tar.xz
assets/*.zip
assets/*.dll
data/gschemas.compiled
