pkgbase = ccnux-git
	pkgdesc = Next-Generation Native GTK4 Linux Manager for Adobe Creative Cloud Suite
	pkgver = 0.8.4
	pkgrel = 1
	url = https://github.com/willyyypatootieee/CCNux
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = meson
	makedepends = ninja
	makedepends = vala
	makedepends = gcc
	makedepends = pkgconf
	depends = gtk4
	depends = libadwaita
	depends = libsoup3
	depends = wine-staging
	depends = cabextract
	depends = vulkan-icd-loader
	depends = hicolor-icon-theme
	optdepends = dxvk-bin: Direct3D 11/10 Vulkan hardware acceleration
	optdepends = nvidia-utils: CUDA & OptiX acceleration for Premiere Pro / After Effects
	optdepends = xorg-xwayland: Seamless Xwayland display integration
	provides = ccnux
	conflicts = ccnux
	source = git+https://github.com/willyyypatootieee/CCNux.git
	sha256sums = SKIP

pkgname = ccnux-git
