[Desktop Entry]
Type=Application
Name=Creative Cloud Nux
GenericName=Adobe Creative Cloud for Wine
Comment=Install and launch supported Adobe products
Exec=ccnux %U
Icon=ccnux
Terminal=false
Categories=AudioVideo;Graphics;
Keywords=after effects;premiere;illustrator;photoshop;adobe;wine;creative cloud;
MimeType=x-scheme-handler/misterhorse;x-scheme-handler/ccnux-media-encoder;
StartupNotify=true
StartupWMClass=com.ccnux.creativecloudnux
X-GNOME-UsesNotifications=true
